<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}TikTak{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bulma/css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        .signup-container {
            max-width: 500px;
            margin: 0 auto;
            padding: 20px;
        }
        .form-group {
            margin-bottom: 15px;
        }
        .error-message {
            color: red;
            font-size: 0.8em;
        }
    </style>
</head>
<body>
    <header>
        {% include 'navbar.html' %}
    </header>
    
    {% block content %}
    {% endblock %}
</body>
</html>
