<aside class="menu">

    <ul class="menu-list">
        <li> <a>    Pour Toi    </a> </li>
        <li> <a>    Explorer    </a> </li>
        <li> <a>    Abonnements </a> </li>
        <li> <a>    Amis        </a> </li>
        <li> <a>    Live        </a> </li>
        <li> <a>    Messages    </a> </li>
        <li> <a>    Profil      </a> </li>
    </ul>
    
        <hr>

    <p class="menu-label"> Comptes Suivis </p>
    <ul class="menu-list">
        <li> <a> User A </a> </li>
        <li> <a> User B </a> </li>
        <li> <a> User C </a> </li>
        <li> <a> User D </a> </li>
        <li> <a> User E </a> </li>
    </ul>
        <hr>
    <ul class="menu-list">
        <li> <a> </a> </li>
        <li> <a> </a> </li>
        <li> <a> </a> </li>
    </ul>
</aside>