<aside class="menu">

    <ul class="menu-list">
        <li><a href="{% url 'home' %}" {% if request.path == '/' %}class="is-active"{% endif %}> Explorer </a></li>
        <li><a> Abonnements </a></li>
        <li><a> Amis        </a></li>
        <li><a href="{% url 'profile' %}" {% if request.path == '/myPosts/' %}class="is-active"{% endif %}> Mes posts   </a></li>
        <li><a href="{% url 'profile' %}" {% if request.path == '/profile/' %}class="is-active"{% endif %}> Profil </a></li>
    </ul>
    
    {% if user.is_authenticated %}
        <hr>
        <p class="menu-label">Comptes Suivis</p>
        <ul class="menu-list">
            <li><a>User A</a></li>
            <li><a>User B</a></li>
            <li><a>User C</a></li>
        </ul>
    {% endif %}
</aside>